body{
    text-align: center;
    background-color: #00FFD1;
}
main{
    background-color: #06266F;
}
main p{
    color: white;
    margin: 0% 10% 0% 10%;
}
img{
    margin-right: 1%;
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid darkblue;
    border-radius: 10%;
    padding: 1%;
}
nav{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
